<form action="/search" id="search">
  <input type="text"  name="q" />
</form>

<section id="bank">
</section>

<section id="weather">
</section>

<script>
  fetch('bank');
  fetch('weather');
</script>