<form action="/search" id="search">
  <input type="text"  name="query" />
</form>

<section id="bank">
<% @bank_results.each do |result| %>
  <p><%= result %></p>
<% end %>
</section>

<section id="weather">
<% @weather_results.each do |result| %>
  <p><%= result %></p>
<% end %>
</section>